.div-height {
    border: 0;
    width: 300px;
    height: 300px
}

.div-small {
    border: 0;
    width: 300px;
    height: 20px
}

.my-input{
    border-color: #00a1cb;
}

.my-select .select2-search input[type="text"]{
    border-color: #00a1cb;
}

.my-select .select2-highlighted {
    background-color: #a1a6a9;
}

.my-select .select2-highlighted > .select2-result-label {
    background: #5dade2;
    color: white;
}
