<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Communism Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link th:href="@{css/vendor/bootstrap.min.css}" rel="stylesheet">
    <!-- Loading Flat UI Pro -->
    <link th:href="@{css/flat-ui.css}" rel="stylesheet">

    <link th:href="@{css/my-style.css}" rel="stylesheet">
</head>
<body>

<div th:replace="~{component::topbar}"></div>

<div class="container-fluid">

    <div class="div-height"></div>

    <div class="row">
        <div class="col-md-2 offset-md-2">
            <select data-toggle="select" name="my-select" class="form-control select select-info mrs mbm">
                <option value="0">My Profile here is</option>
                <option value="1">My Friends</option>
                <option value="2">My Profile</option>
                <option value="3">My Friends</option>
            </select>
        </div>
        <div class="col-md-5">
            <textarea class="form-control" rows="1"></textarea>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-info">Default button</button>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{scripts/jquery-3.3.1.js}"></script>
<!-- Bootstrap 4 requires Popper.js -->
<script th:src="@{scripts/popper.min.js}"></script>

<script th:src="@{scripts/flat-ui.js}"></script>

<script th:src="@{scripts/application.js}"></script>

<script>
    $(document).ready(function () {
        $('select[name="my-select"]').select2({dropdownCssClass: 'my-select'});
    });
</script>

</body>
</html>
